<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939425281462-rrip93ivfofotunq3tpgfd1tgo80ha8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939425281462-rrip93ivfofotunq3tpgfd1tgo80ha8i</string>
	<key>API_KEY</key>
	<string>AIzaSyABMnS31K3nwk5ToJmMp0aildFjuYQq7Vk</string>
	<key>GCM_SENDER_ID</key>
	<string>939425281462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agoracreation.otodokekunCource</string>
	<key>PROJECT_ID</key>
	<string>otodokekun-cource</string>
	<key>STORAGE_BUCKET</key>
	<string>otodokekun-cource.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939425281462:ios:e2bd1c86ca444c700ebd17</string>
</dict>
</plist>